{% extends "base.html" %}
{% block titleblock %}Plugins{% endblock %}
{% block content %}

<h1>Installation Instructions for MUSHclient:</h1>
<body>
    <p>
        <h2>Step one:</h2><br>
            Download your plugin.<br><br>

        <h2>Step two:</h2><br>
            Open your world file in mush, by clicking File --> Open World or CTRL-O.<br><br>
             <a href="plugin_install_ss1.png" target="_blank"><img src="plugin_install_ss1.png" alt="screenshot 1" width="640" height="512"></a><br><br>

        <h2>Step three:</h2><br>
            Open the plugins window with by clicking File --> Plugins... or CTRL-SHIFT-P.<br><br>
            <a href="plugin_install_ss2.png" target="_blank"><img src="plugin_install_ss2.png" alt="screenshot 2" width="640" height="512"></a><br><br>

        <h2>Step four:</h2><br>
            Click add, and change directory to where you downloaded the plugin xml file.<br><br>
            Select it and click Open.<br>

        That's it!<br><br>
        You can select the plugin you just installed and click Remove if you want it gone.<br><br>
    </p>
</body>

<h2 id="clients">Plugins:<br></h2>
    <h3 id="mushclient">MUSHclient
        <ul>
            <li><a href="GameServer_command_plugin.zip">command plugin</a><br></li>
        </ul>
    </h3>

{% endblock %}
