{% extends "base.html" %}
{% block titleblock %}Clients{% endblock %}
{% block content %}

<h1 id="clients">Clients:<br></h1>
    <h3 id="windows">Windows
        <ul>
            <li><a href="http://www.gammon.com.au/files/mushclient/mushclient494.exe">MUSHclient v4.94</a><br></li>
            <li><a href="http://www.mudlet.org/download/Mudlet-3.1.0-windows-installer.exe">Mudlet v3.1.0</a><br></li>
        </ul>
    </h3>
    <h3 id="linux">Linux
        <ul>
            <li><a href="http://www.mudlet.org/download/Mudlet-3.1.0-linux.AppImage.tar">Mudlet v3.1.0 32-bit</a><br></li>
            <li><a href="http://www.mudlet.org/download/Mudlet-3.1.0-linux-x64.AppImage.tar">Mudlet v3.1.0 64-bit</a><br></li>
        </ul>
    </h3>
    <h3 id="mac">Mac
        <ul>
            <li><a href="http://www.mudlet.org/download/Mudlet-3.1.0.dmg">Mudlet v3.1.0</a><br></li>
        </ul>
    </h3>

<h4>
    <p>
If you know of a client that is not included in this index, you can contact me at texdarkstar@fastmail.fm
    </p>
</h4>

{% endblock %}

